@import "../../styles/variables.css";

.brandSearchSection {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--my-box-shadow-heavy);
}

.searchField {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.searchLabel {
    font-weight: bold;
}
