html,
body {
    height: 100%;
    background-color: #eee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    margin: 0 1rem;
    width: 12rem;
    height: auto;
    display: block;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
