html,
body {
    height: 100%;
    background-color: #eee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
