:root {
    --font-size: 0.8rem;
    --secondary-font-size: 1.2rem;
    --big-font-size: 2rem;
    --main-color: #363636;
    --text-color: white;
    --highlight-color: #555;
    --selection-color: rgb(125, 152, 134);
    --lux-color: #7c4786;
    --lux-highlight-color: hsl(290, 31%, 50%);
    --btn-height: 2.5rem;
    --btn-border-radius: 0.25rem;
    --my-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}
