@import "../styles/variables.css";

.mobile-load {
    display: none;
}

.desktop-load {
    display: none;
}

/* show desktop on larger screens */
@media (min-width: 768px) {
    .desktop-load {
        display: block;
    }
}

.desktop-screen {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.brand-section {
    width: 50%;
}

.calc-section {
    width: 50%;
}

/* show mobile on smaller screens */
@media (max-width: 767px) {
    .mobile-load {
        display: block;
    }
}

.appContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    height: 3rem;
    background-color: #333;
    color: white;
    padding: 0;
    width: 100%;
}

.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab:hover {
    background-color: #444;
    cursor: pointer;
}

.tab:active {
    background-color: #444;
}
