header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    margin: 0 1rem;
    width: 12rem;
    height: auto;
    display: block;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
