:root {
    --font-size: 0.8rem;
    --secondary-font-size: 1.2rem;
    --big-font-size: 2rem;
    --main-color: #363636;
    --text-color: white;
    --highlight-color: #555;
    --selection-color: rgb(125, 152, 134);
    --btn-height: 2.5rem;
    --btn-border-radius: 0.25rem;
    --my-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

.priceCalcWrapper {
    width: 90vw;
    border: 1px rgb(167, 167, 167) solid;
    border-radius: 1rem;
}

.section {
    margin: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px rgb(167, 167, 167) solid;
}

.sectionLabel {
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.btnSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selectionLabel {
    margin-left: auto;
    align-self: center;
    padding-right: 1rem;
    font-size: var(--font-size);
}

.btn {
    margin: 0.25rem;
    padding: 0 2rem;
    height: var(--btn-height);
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    border-radius: var(--btn-border-radius);
    box-shadow: var(--my-box-shadow);
}

.btn:hover {
    background-color: var(--highlight-color);
}

.btn:active {
    background-color: var(--selection-color);
}

select {
    margin: 0.25rem;
    padding: 0 1rem;
    height: var(--btn-height);
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    border-radius: var(--btn-border-radius);
    box-shadow: var(--my-box-shadow);
}

.submitBtn {
    margin: 1rem;
    padding: 1rem;
    height: 4rem;
    border: none;
    background-color: #336644;
    color: var(--text-color);
    border-radius: 0.5rem;
    font-size: var(--secondary-font-size);
    font-weight: bolder;
    box-shadow: var(--my-box-shadow);
}

.submitBtn:hover {
    background-color: hsl(140, 33%, 25%);
}

.priceDisplay {
    margin: 1rem;
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: 800;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
